.container-episodios {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background:
        linear-gradient(80deg,
            rgba(0, 0, 0, 0.781),
            rgba(0, 0, 0, 0.74));
    overflow: auto;
    padding: 0 0.5rem;
    z-index: 1;
}

.content-episodios {
    width: 909.1px;
    max-width: 100%;
    min-height: 100%;
    background-color: #181818;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    margin-top: 30px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: relative;
    overflow: hidden;
}

.banner-temp {
    width: 100%;
    height: 46vh;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;

}

.banner-temp img {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    z-index: 0;
}

.banner-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #181818, transparent 100%);
    position: absolute;
    z-index: 1000;
    top: 0;
}

.banner-title h1 {
    display: flex;
    gap: 10px;
    font-size: 30px;
}

.banner-title h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-title {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
    padding: 1rem 2rem;
}

.banner-title h1 span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.banner-title h1 span {
    width: 30px;
    height: 30px;
    background-color: #148C54;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    color: white;
    border-radius: 5px;
    padding: 1.1rem;
}

.list-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem 2rem;
}

.list-title span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-title span {
    width: 25px;
    height: 25px;
    background-color: #148C54;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    color: white;
    border-radius: 5px;
}

.list-episodes ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-episodes ul li {
    /* height: 8rem; */
    padding: 2rem 2rem;
    gap: 10px;
    border-radius: 4px;
    cursor: grab !important;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.id-episode {
    background-color: #181818;
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 0;
    border-top: 1px solid #2A2C2E;
    border-left: 1px solid #2A2C2E;
}

.content-img-episode {
    width: 200px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.img-episode {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.info-episode {
    width: 100%;
    height: 100%;
    text-wrap: wrap;

    h3 {
        font-size: 13px;
        gap: 10px;
    }

    h3 span {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    h5 {
        font-size: 13px;
        color: gray;
        margin-top: 3px;

    }

    p {
        font-size: 13px;
        margin-top: 5px;
    }

    @media (max-width: 768px) {

        h3 {
            font-size: 2vw;
        }

        h3 span {
            font-size: 2vw;
        }

        h5 {
            font-size: 2vw;
        }

        p {
            font-size: 2vw;
        }
    }
}

/* 


.list-episodes ul li:hover {
    background-color: #333333; 
}



.info-episode h3{
    font-size: 14px;
    color: #FFFFFF;
}
.info-episode p{
  text-wrap: wrap;
  font-size: 12px;
  margin-top: 10px;
  color: #FFFFFF;
} */

#exite-season {
    position: absolute;
    z-index: 2000;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab !important;
}