.container-AreaVideo {
    background-color: #191919;
    width: calc(100% - 400px);
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.content-AreaVideo {
    width: calc(100% - 300px);
    height: 100%;
    padding: 0.5rem;
    position: relative;
}

.container-episodios {
    width: 300px;
    height: 100%;
}

.container-video {
    background-color: #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.content-video {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    width: 100%;
    height: 100%;
    background-color: #000;
}

@media screen and (max-height: 700px) {
    .content-video {
        height: 100%;
    }
}

.lista-episodios {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5rem;
    overflow: hidden;

}

.episodio {
    height: 90px;
    /* background-color: #262626; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    gap: 7px;
    overflow: hidden;
}

.active-episodio {
    background-color: #A21B0F;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    gap: 7px;
    border-radius: 5px;
}


.episodio:hover {
    background: #262626;
    transition: 100ms ease-in-out;
    cursor: grab;
}

.img-episodio {
    width: 100px;
    height: 80px;
    border-radius: 2px;
    position: relative;
}
.img-episodio span {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.222);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.img-episodio img {
    width: 100px;
    height: 80px;
}

.titulo-episodio {
    height: 80px;
}
.titulo-episodio span{
    font-weight: 200;
}


.container-lista-episodios {
    overflow-y: auto;
    height: 100%;
}

.container-lista-episodios::-webkit-scrollbar {
    width: 8px;
    background-color: #262626;
    border-radius: 30px;
}

.container-lista-episodios::-webkit-scrollbar-thumb {
    background-color: #A21B0F;
    border-radius: 30px;
}

.controls {
    width: 100%;
    height: 100%;
    background: #0000002f;
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.controls-play {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-play>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-play>div button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #26262670;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    overflow: hidden;
}

.controls-play>div button span {
    color: #fff;
    font-size: 45px;
}

#voltar,
#proximo {
    width: 40px;
    height: 40px;
}

#voltar span,
#proximo span {
    font-size: 27px;
}

#current-time {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0.5rem;
}

#progress-bar {
    height: 6px;
    background-color: #262626;
    width: 100%;
    position: relative;

}

#progress {
    height: 6px;
    background-color: #EF8109;
    width: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#pointer {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    cursor: grab;
}