@import url("./app/Index.css");

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "LibreBarcode128Text";
    src: url("./fonts/Libre_Barcode_128_Text/LibreBarcode128Text-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-decoration: none; */
    list-style: none;
    font-family: "Montserrat";
}

#root {
    width: 100%;
    height: 100dvh;
    background-color: #242424;
}